@use '/src/styles/constants/colors';

.select {
  position: relative;

  :root[color-theme='dark'] & {
    .selected,
    ul {
      color: colors.$WHITE;
      background-color: colors.$GRAY3 !important;
      border: none;

      li {
        &:hover {
          background-color: colors.$GRAY6;
        }

        button {
          color: colors.$WHITE;
        }
      }

      .downArrowIcon {
        fill: colors.$WHITE;
      }
    }
  }

  .selected {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 5px 14px;
    text-align: center;
    cursor: pointer;
    background-color: colors.$WHITE;
    border: 1px solid rgb(209, 216, 220);
    border-radius: 10px;
    transition: 300ms background-color;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
  }

  ul {
    position: absolute;
    top: 45px;
    z-index: 4;
    width: 100%;
    height: auto;
    padding-left: 0;
    overflow-y: auto;
    cursor: pointer;
    background: colors.$WHITE;
    border: 1px solid rgb(209, 216, 220);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.2s ease-out;

    li {
      button {
        width: 100%;
        padding: 12px 20px;
      }

      &:hover {
        background-color: colors.$GRAYE;
      }
    }
  }
}

.downArrowIcon {
  fill: colors.$GRAYA;
  transition: transform 0.3s linear;
  transform: rotate(0deg);

  &:hover {
    cursor: pointer;
  }
}

.selectMenuOpen {
  transition: transform 0.3s linear;
  transform: rotate(-180deg);
}

.isOpenSelect {
  ul {
    display: block;
    opacity: 1;
  }

  .selected::after {
    transform: rotate(180deg);
  }
}

.large {
  width: 220px;
  height: 60px;

  > button {
    height: 60px !important;
    padding: 15px;
  }
}

.medium {
  width: 135px;

  > button {
    padding: 15px !important;
  }
}

.small {
  width: 110px;
  font-size: 15px;

  > button {
    padding: 10px !important;
  }
}
