@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.container {
  width: 100vw;
  // box-shadow: 0 1px 4px colors.$APP_BOX_SHADOW;
  height: 100vh;
  background: colors.$APP_BG;
}
