@use 'src/styles/mixins/flexbox';
@use 'src/styles/constants/colors';

.gnb {
  border-bottom: 1px solid colors.$GRAYE;

  :root[color-theme='dark'] & {
    border-bottom: 1px solid colors.$GRAY3;

    ul {
      background-color: colors.$GRAY2;

      li {
        a {
          color: colors.$WHITE;
        }

        button {
          color: colors.$WHITE;
        }
      }
    }
  }

  ul {
    @include flexbox.flexbox(center, center);
    padding: 20px 0;
    transition: 300ms background-color;

    li {
      font-size: 20px;

      +li {
        margin-left: 20px;
      }

      a {
        color: colors.$GRAY2;
      }

      .themeBtn {
        @include flexbox.flexbox(center, center);
      }

      button {
        font-size: 20px;
      }
    }
  }
}

.isActive {
  font-weight: 600;
}
